@-webkit-keyframes rain {
    from { 
        -webkit-transform: rotate(0deg);
        top: -100px;
    }
    to { 
        -webkit-transform: rotate(360deg);
        top: 100%;
    }
}

.terker {
    position: absolute;
}
