.terker { position: fixed; }

@-webkit-keyframes rain {
    from { -webkit-transform: rotate(0deg); top: 0px; }
    to { -webkit-transform: rotate(360deg); top: 100%; }
}

@-moz-keyframes rain {
    from { -moz-transform: rotate(0deg); top: 0px; }
    to { -moz-transform: rotate(360deg); top: 100%; }
}

@-apple-keyframes rain {
    from { -apple-transform: rotate(0deg); top: 0px; }
    to { -apple-transform: rotate(360deg); top: 100%; }
}

@-o-keyframes rain {
    from { -o-transform: rotate(0deg); top: 0px; }
    to { -o-transform: rotate(360deg); top: 100%; }
}

@keyframes rain {
    from { transform: rotate(0deg); top: 0px; }
    to { transform: rotate(360deg); top: 100%; }
}

