@-webkit-keyframes rain {
    from { 
        -webkit-transform: rotate(0deg);
        top: -10px;
    }
    to { 
        -webkit-transform: rotate(360deg);
        top: 100%;
    }
}

.terker {
    /*-webkit-animation: rain 2s cubic-bezier(.17,.67,.83,.67) 0s infinite;*/
    width:50px;
    position: absolute;
}
